body, nav, a, div, p {
    padding: 0;
    border: 0;
    margin: 0;
}
body {
    -webkit-font-smoothing: antialiased;
    height: 100%;
    width: 100%;
}
nav {
    display: block;
    background: black;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav a {
    font-size: 1em;
    line-height: 1em;
    display: inline-block;
    margin: 1em;
    color: white;
    border: 0;
    text-decoration: none;
}
#content {
    height: 100%;
    width: 100%;
}
.animation, .pre-animation, .text {
    font-size: 3em;
    display: block;
    height: 50%;
    width: 100%;
    position: relative;
    text-align: center;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    -o-background-size: auto auto;
    -ms-background-size: auto auto;
    background-size: auto 40%;
}
.img00 {
    background-image: url(../img/00.png);
    background-color: #FF4D4D;
}
.img01 {
    background-image: url(../img/01.png);
    background-color: #FF6A4D;
    background-position: 48% 49%;
}
.img02 {
    background-image: url(../img/01_rev.png);
    background-color: #FF4D4D;
    background-position: 48% 49%;
}
.img03 {
    background-image: url(../img/01.png);
    background-color: #FF6A4D;
    background-position: 48% 49%;
}
.img04 {
    background-image: url(../img/02.png);
    background-color: #FF4D4D;
    background-position: 46% 53%;
    background-size: auto 35%;
    -webkit-background-size: auto 35%;
    -moz-background-size: auto 35%;
    -o-background-size: auto 35%;
    -ms-background-size: auto 35%;
}
.img05 {
    background-image: url(../img/02.png);
    background-color: #FF6A4D;
    background-position: 75% 40%;
    background-size: auto 25%;
    -webkit-background-size: auto 25%;
    -moz-background-size: auto 25%;
    -o-background-size: auto 25%;
    -ms-background-size: auto 25%;
}
.img06 {
    background-image: url(../img/02_rev.png);
    background-color: #FF4D4D;
    background-position: 60% 20%;
    background-size: auto 15%;
    -webkit-background-size: auto 15%;
    -moz-background-size: auto 15%;
    -o-background-size: auto 15%;
    -ms-background-size: auto 15%;
}
.img07 {
    background-image: url(../img/02_rev.png);
    background-color: #FF6A4D;
    background-position: 40% 20%;
    background-size: auto 15%;
    -webkit-background-size: auto 15%;
    -moz-background-size: auto 15%;
    -o-background-size: auto 15%;
    -ms-background-size: auto 15%;
}
.img08 {
    background-image: url(../img/02_rev.png);
    background-color: #FF4D4D;
    background-position: 20% 40%;
    background-size: auto 25%;
    -webkit-background-size: auto 25%;
    -moz-background-size: auto 25%;
    -o-background-size: auto 25%;
    -ms-background-size: auto 25%;
}
.img09 {
    background-image: url(../img/02.png);
    background-color: #FF4D4D;
    background-position: 10% 55%;
    background-size: auto 25%;
    -webkit-background-size: auto 25%;
    -moz-background-size: auto 25%;
    -o-background-size: auto 25%;
    -ms-background-size: auto 25%;
}
.img10 {
    background-image: url(../img/02.png), url(../img/03.png);
    background-color: #FF6A4D;
    background-position: 10% 55%, 85% 50%;
    -webkit-background-size: auto 25%, auto 35%;
    -moz-background-size: auto 25%, auto 35%;
    -o-background-size: auto 25%, auto 35%;
    -ms-background-size: auto 25%, auto 35%;
    background-size: auto 25%, auto 35%;
}
.img11 {
    background-image: url(../img/02.png), url(../img/03.png);
    background-color: #FF4D4D;
    background-position: 20% 55%, 85% 46%;
    -webkit-background-size: auto 25%, auto 40%;
    -moz-background-size: auto 25%, auto 40%;
    -o-background-size: auto 25%, auto 40%;
    -ms-background-size: auto 25%, auto 40%;
    background-size: auto 25%, auto 40%;
}
.img12 {
    background-image: url(../img/02.png), url(../img/03.png);
    background-color: #FF4D4D;
    background-position: 30% 55%, 85% 46%;
    -webkit-background-size: auto 25%, auto 40%;
    -moz-background-size: auto 25%, auto 40%;
    -o-background-size: auto 25%, auto 40%;
    -ms-background-size: auto 25%, auto 40%;
    background-size: auto 25%, auto 40%;
}
.img13 {
    background-image: url(../img/02.png), url(../img/03.png);
    background-color: #FF6A4D;
    background-position: 40% 55%, 85% 42%;
    -webkit-background-size: auto 25%, auto 45%;
    -moz-background-size: auto 25%, auto 45%;
    -o-background-size: auto 25%, auto 45%;
    -ms-background-size: auto 25%, auto 45%;
    background-size: auto 25%, auto 45%;
}
.img14 {
    background-image: url(../img/02.png), url(../img/03.png);
    background-color: #FF6A4D;
    background-position: 50% 55%, 85% 42%;
    -webkit-background-size: auto 25%, auto 45%;
    -moz-background-size: auto 25%, auto 45%;
    -o-background-size: auto 25%, auto 45%;
    -ms-background-size: auto 25%, auto 45%;
    background-size: auto 25%, auto 45%;
}
.img15 {
    background-image: url(../img/02.png), url(../img/03.png);
    background-color: #FF4D4D;
    background-position: 65% 55%, 85% 38%;
    -webkit-background-size: auto 25%, auto 55%;
    -moz-background-size: auto 25%, auto 55%;
    -o-background-size: auto 25%, auto 55%;
    -ms-background-size: auto 25%, auto 55%;
    background-size: auto 25%, auto 55%;
}
.img16 {
    background-image: url(../img/02_overlap.png), url(../img/03.png);
    background-color: #FF6A4D;
    background-position: 80% 65%, 85% 38%;
    -webkit-background-size: auto 25%, auto 55%;
    -moz-background-size: auto 25%, auto 55%;
    -o-background-size: auto 25%, auto 55%;
    -ms-background-size: auto 25%, auto 55%;
    background-size: auto 30%, auto 55%;
}
.img17 {
    background-image: url(../img/02_overlap_rev.png), url(../img/03.png);
    background-color: #FF4D4D;
    background-position: 85% 65%, 85% 38%;
    -webkit-background-size: auto 25%, auto 55%;
    -moz-background-size: auto 25%, auto 55%;
    -o-background-size: auto 25%, auto 55%;
    -ms-background-size: auto 25%, auto 55%;
    background-size: auto 30%, auto 55%;
}
.img18 {
    background-image: url(../img/02_overlap.png), url(../img/03.png);
    background-color: #FF6A4D;
    background-position: 80% 65%, 85% 38%;
    -webkit-background-size: auto 25%, auto 55%;
    -moz-background-size: auto 25%, auto 55%;
    -o-background-size: auto 25%, auto 55%;
    -ms-background-size: auto 25%, auto 55%;
    background-size: auto 30%, auto 55%;
}
.img19 {
    background-image: url(../img/03.png), url(../img/02_overlap_rev.png);
    background-color: #FF4D4D;
    background-position: 85% 38%, 97% 45%;
    -webkit-background-size: auto 55%, auto 25%;
    -moz-background-size: auto 55%, auto 25%;
    -o-background-size: auto 55%, auto 25%;
    -ms-background-size: auto 55%, auto 25%;
    background-size: auto 55%, auto 25%;
}
.img20 {
    background-image: url(../img/03.png), url(../img/02_overlap_rev.png);
    background-color: #FF6A4D;
    background-position: 85% 38%, 85% 20%;
    -webkit-background-size: auto 55%, auto 20%;
    -moz-background-size: auto 55%, auto 20%;
    -o-background-size: auto 55%, auto 20%;
    -ms-background-size: auto 55%, auto 20%;
    background-size: auto 55%, auto 20%;
}
.img21 {
    background-image: url(../img/03.png), url(../img/02_overlap_rev.png);
    background-color: #FF4D4D;
    background-position: 85% 38%, 70% 45%;
    -webkit-background-size: auto 55%, auto 25%;
    -moz-background-size: auto 55%, auto 25%;
    -o-background-size: auto 55%, auto 25%;
    -ms-background-size: auto 55%, auto 25%;
    background-size: auto 55%, auto 25%;
}
.img22 {
    background-image: url(../img/02_overlap.png), url(../img/03.png);
    background-color: #FF4D4D;
    background-position: 65% 55%, 85% 38%;
    -webkit-background-size: auto 25%, auto 55%;
    -moz-background-size: auto 25%, auto 55%;
    -o-background-size: auto 25%, auto 55%;
    -ms-background-size: auto 25%, auto 55%;
    background-size: auto 25%, auto 55%;
}
.img23 {
    background-image: url(../img/02_overlap.png), url(../img/03.png);
    background-color: #FF6A4D;
    background-position: 80% 65%, 85% 38%;
    -webkit-background-size: auto 25%, auto 55%;
    -moz-background-size: auto 25%, auto 55%;
    -o-background-size: auto 25%, auto 55%;
    -ms-background-size: auto 25%, auto 55%;
    background-size: auto 30%, auto 55%;
}
.img24 {
    background-image: url(../img/03.png), url(../img/02_overlap_rev.png);
    background-color: #FF4D4D;
    background-position: 85% 38%, 97% 45%;
    -webkit-background-size: auto 55%, auto 25%;
    -moz-background-size: auto 55%, auto 25%;
    -o-background-size: auto 55%, auto 25%;
    -ms-background-size: auto 55%, auto 25%;
    background-size: auto 55%, auto 25%;
}
.img25 {
    background-image: url(../img/03.png), url(../img/02_overlap_rev.png);
    background-color: #FF6A4D;
    background-position: 85% 38%, 85% 20%;
    -webkit-background-size: auto 55%, auto 20%;
    -moz-background-size: auto 55%, auto 20%;
    -o-background-size: auto 55%, auto 20%;
    -ms-background-size: auto 55%, auto 20%;
    background-size: auto 55%, auto 20%;
}
.img26 {
    background-image: url(../img/03.png), url(../img/02_overlap_rev.png);
    background-color: #FF4D4D;
    background-position: 85% 38%, 70% 45%;
    -webkit-background-size: auto 55%, auto 25%;
    -moz-background-size: auto 55%, auto 25%;
    -o-background-size: auto 55%, auto 25%;
    -ms-background-size: auto 55%, auto 25%;
    background-size: auto 55%, auto 25%;
}
.img27 {
    background-image: url(../img/02_rev.png), url(../img/03.png);
    background-color: #FF4D4D;
    background-position: 65% 55%, 85% 38%;
    -webkit-background-size: auto 25%, auto 55%;
    -moz-background-size: auto 25%, auto 55%;
    -o-background-size: auto 25%, auto 55%;
    -ms-background-size: auto 25%, auto 55%;
    background-size: auto 25%, auto 55%;
}
.img28 {
    background-image: url(../img/02_rev.png), url(../img/03.png);
    background-color: #FF6A4D;
    background-position: 50% 55%, 85% 42%;
    -webkit-background-size: auto 25%, auto 45%;
    -moz-background-size: auto 25%, auto 45%;
    -o-background-size: auto 25%, auto 45%;
    -ms-background-size: auto 25%, auto 45%;
    background-size: auto 25%, auto 45%;
}
.img29 {
    background-image: url(../img/02_rev.png), url(../img/03.png);
    background-color: #FF6A4D;
    background-position: 40% 55%, 85% 42%;
    -webkit-background-size: auto 25%, auto 45%;
    -moz-background-size: auto 25%, auto 45%;
    -o-background-size: auto 25%, auto 45%;
    -ms-background-size: auto 25%, auto 45%;
    background-size: auto 25%, auto 45%;
}
.img30 {
    background-image: url(../img/02_rev.png), url(../img/03.png);
    background-color: #FF4D4D;
    background-position: 30% 55%, 85% 46%;
    -webkit-background-size: auto 25%, auto 40%;
    -moz-background-size: auto 25%, auto 40%;
    -o-background-size: auto 25%, auto 40%;
    -ms-background-size: auto 25%, auto 40%;
    background-size: auto 25%, auto 40%;
}
.img31 {
    background-image: url(../img/02_rev.png), url(../img/03.png);
    background-color: #FF4D4D;
    background-position: 20% 55%, 85% 46%;
    -webkit-background-size: auto 25%, auto 40%;
    -moz-background-size: auto 25%, auto 40%;
    -o-background-size: auto 25%, auto 40%;
    -ms-background-size: auto 25%, auto 40%;
    background-size: auto 25%, auto 40%;
}
.img32 {
    background-image: url(../img/02_rev.png), url(../img/03.png);
    background-color: #FF6A4D;
    background-position: 10% 55%, 85% 50%;
    -webkit-background-size: auto 25%, auto 35%;
    -moz-background-size: auto 25%, auto 35%;
    -o-background-size: auto 25%, auto 35%;
    -ms-background-size: auto 25%, auto 35%;
    background-size: auto 25%, auto 35%;
}
.img33 {
    background-image: url(../img/02_rev.png);
    background-color: #FF4D4D;
    background-position: 10% 55%;
    background-size: auto 25%;
    -webkit-background-size: auto 25%;
    -moz-background-size: auto 25%;
    -o-background-size: auto 25%;
    -ms-background-size: auto 25%;
}
.img34 {
    background-image: url(../img/02.png);
    background-color: #FF4D4D;
    background-position: 10% 55%;
    background-size: auto 25%;
    -webkit-background-size: auto 25%;
    -moz-background-size: auto 25%;
    -o-background-size: auto 25%;
    -ms-background-size: auto 25%;
}
.img35 {
    background-image: url(../img/02.png);
    background-color: #FF6A4D;
    background-position: 30% 70%;
    background-size: auto 30%;
    -webkit-background-size: auto 30%;
    -moz-background-size: auto 30%;
    -o-background-size: auto 30%;
    -ms-background-size: auto 30%;
}
.img36 {
    background-image: url(../img/02.png);
    background-color: #FF4D4D;
    background-position: 70% 70%;
    background-size: auto 30%;
    -webkit-background-size: auto 30%;
    -moz-background-size: auto 30%;
    -o-background-size: auto 30%;
    -ms-background-size: auto 30%;
}
.img37 {
    background-image: url(../img/02.png);
    background-color: #FF6A4D;
    background-position: 75% 40%;
    background-size: auto 25%;
    -webkit-background-size: auto 25%;
    -moz-background-size: auto 25%;
    -o-background-size: auto 25%;
    -ms-background-size: auto 25%;
}
.img38 {
    background-image: url(../img/02_rev.png);
    background-color: #FF4D4D;
    background-position: 60% 20%;
    background-size: auto 15%;
    -webkit-background-size: auto 15%;
    -moz-background-size: auto 15%;
    -o-background-size: auto 15%;
    -ms-background-size: auto 15%;
}
.img39 {
    background-image: url(../img/02_rev.png);
    background-color: #FF6A4D;
    background-position: 40% 20%;
    background-size: auto 15%;
    -webkit-background-size: auto 15%;
    -moz-background-size: auto 15%;
    -o-background-size: auto 15%;
    -ms-background-size: auto 15%;
}
.img40 {
    background-image: url(../img/02_rev.png);
    background-color: #FF4D4D;
    background-position: 20% 40%;
    background-size: auto 25%;
    -webkit-background-size: auto 25%;
    -moz-background-size: auto 25%;
    -o-background-size: auto 25%;
    -ms-background-size: auto 25%;
}
.img41 {
    background-image: url(../img/02.png);
    background-color: #FF4D4D;
    background-position: 10% 55%;
    background-size: auto 25%;
    -webkit-background-size: auto 25%;
    -moz-background-size: auto 25%;
    -o-background-size: auto 25%;
    -ms-background-size: auto 25%;
}
.img42 {
    background-image: url(../img/02.png);
    background-color: #FF4D4D;
    background-position: 46% 53%;
    background-size: auto 35%;
    -webkit-background-size: auto 35%;
    -moz-background-size: auto 35%;
    -o-background-size: auto 35%;
    -ms-background-size: auto 35%;
}
#source {
    display: none;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.typing-cursor, .typing-cursor-black, .typing-cursor-white {
    opacity: 1;
    font-weight: bold;
    -webkit-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
.typing-cursor, .typing-cursor-black {
    color: #000;
}
.typing-cursor-white {
    color: #fff;
}
#output-wrap {
    padding: 20px;
    color: white;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    text-align: left;
}
var {
    color: #f2ea0e;
}
o {
    color: orange;
}
na {
    color: rgb(249, 138, 162);
}
func {
    color: rgb(87, 154, 198);
}
pa {
    color: rgb(190, 226, 242);
}